@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
  text-align: center;

}

/* Headings */

h1 {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
}


h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 200;
}


p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

/* Navigation bar + footer container */

.nav-container,
.footer-container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav-container {
  top: 0;
}

.footer-container {
  bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 50px;
}